// Start Colors


// Colors For Theme Light 
$primary-light: rgb(95, 172, 2);
$primary-m-light: rgba(126, 230, 0, 0.55);
$secondary-light: rgb(193, 112, 255);
$secondary-m-light: rgb(193, 113, 254);
$tertiary-light: rgb(77, 156, 163);
$tertiary-m-light: rgba(38, 52, 65, 0.65);
$quaternary-light: rgb(255, 235, 153);
$quaternary-m-light: rgba(192, 162, 43, 0.65);
$quinary-light: white;
$quinary-m-light: rgba(255, 255, 255, 0.5);


// Colors For Theme Dark
$primary-dark: rgb(36, 38, 43);
$primary-m-dark: rgba(36, 38, 43, 0.65);
$secondary-dark: rgb(124, 185, 8);
$secondary-m-dark: rgba(123, 185, 8, 0.5);
$tertiary-dark: rgb(38, 52, 65);
$tertiary-m-dark: rgba(64, 127, 130, 0.65);
$quaternary-dark: rgb(64, 69, 79);
$quaternary-m-dark: rgba(64, 69, 79, 0.65);
$quinary-dark: white;
$quinary-m-dark: rgba(255, 255, 255, 0.5);


// End Colors 